<div >
  <div >

    <div >

    </div>

    <div >
      <div >
        <div >

          <div id="back-cliente">
            <p></p>
            <label for="">Novo Produto:</label>
            <form #produto="ngForm">

              <div >
                <div>
                  <p></p>
                  <input #nome="ngModel" [(ngModel)]="newProduto.nome" type="text"  id="nome" placeholder="Nome do produto" name="x1">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>
                <div >
                  <p></p>
                  <input  [(ngModel)]="newProduto.quantidade" type="text"  id="quantidade" placeholder="Quantidade" name="x2">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>
              </div>

              <div >
                <div >
                  <input  [(ngModel)]="newProduto.valor" type="text"  id="valor" placeholder="Valor" name="x6">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>

                <div>
                  <select  [(ngModel)]="newProduto.setor" type="text" id="setor"  name="x7">
                    <span  *ngIf="showMessageError">Campo obrigatório</span>
                    <option selected>Setor...</option>
                    <option>Congelados</option>
                    <option>Resfriados</option>
                    <option>Secos</option>
                  </select>
                </div>

                <div>
                  <input [disabled]="produto.invalid" (click)="saveProduto()" type="button" value="Salvar" class="btn btn-dark">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div >
      <div >
        <div  id="back-cliente">
          <table >
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Setor</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos" 
                    [class.selected]="produto === selectedProduto" 
                      (click)="selectProduto(produto)">
                <th scope="row" >{{ produto.id }}</th>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.setor }}</td>
                <td>R$ {{ produto.valor }}</td>
                <th>
                  <input (click)="deleteProduto(produto)" type="button" value="Excluir" >

                </th>
                <th>
                  <input (click)="editProduto(produto)" type="button" value="Editar" >

                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>