<div>
  <div>

    <div >

    </div>

    <div >
      <div>
        <div>

          <div>
            <p></p>
            <label for="">Novo Cliente:</label>
            <form #cliente="ngForm">

              <div>
                <div>
                  <p></p>
                  <input #nome="ngModel" [(ngModel)]="newCliente.nome" type="text"  id="nome" placeholder="Nome" name="x1">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>
                <div>
                  <p></p>
                  <input #sobrenome="ngModel" [(ngModel)]="newCliente.sobrenome" type="text"  id="sobrenome" placeholder="Sobrenome" name="x2">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>
                <div>
                  <input #cpf="ngModel" [(ngModel)]="newCliente.cpf" type="string"  id="cpf" placeholder="CPF" name="x3" maxlength="11">
                  <span  *ngIf="showMessageError">Campo obrigatório</span>
                </div>
              </div>

              <div >
                

                <div>
                  <input #email="ngModel" [(ngModel)]="newCliente.email" type="text"  id="email" placeholder="Email" name="x9" required>
                </div>

                <div>
                  <input #telefone="ngModel" [(ngModel)]="newCliente.telefone" type="text"  id="telefone" placeholder="Telefone" name="x10" required>

                </div>

                <div>
                  <input [disabled]="cliente.invalid" (click)="saveCliente()" type="button" value="Salvar" >
                  <!--    <input (click)="editCliente()" type="button" value="Salvar Alterações" >  -->
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="container-fluid">
        <div class="row" id="back-cliente">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes" [class.selected]="cliente === selectedCliente" (click)="selectCliente(cliente)">
                <th scope="row">{{ cliente.id }}</th>
                <td>{{ cliente.nome }} {{ cliente.sobrenome }}</td>
                <td> {{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <th>
                  <input (click)="deleteCliente(cliente)" type="button" value="Excluir" >
                </th>
                <th>
                  <input (click)="editCliente(cliente)" type="button" value="Editar" >
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>