<nav>
  <h1 href="#">Trabalho Angular </h1>  

    <li>
      <button routerLink="/cadastro-cliente" >Cadastro Cliente</button>
    </li>  
    <li>
      <button routerLink="/cadastro-produto" >Cadastro Produto</button>
    </li>

    <li>
      <button  >Relatório</button>
    </li>
      
</nav>
  <router-outlet></router-outlet>

