#special{
    height: 500px;
    border-color: brown;
}

body{
    background-size: 100%;
    background-image: url(imagem.png);
    
}
.button{
    color: rgba(247, 255, 240, 0.459);
}

.nav{
    color: aqua;
    background-color: gold;
}
